<header>
  <div class="container">
    <nav class="navbar navbar-expand-sm fixed-top navbar-expand">
      <a class="navbar-brand" href="#">
        <div class="navbar-brand-extend">
          <%= link_to image_tag('lantern_lantern_logo.png',width: 50),root_path, class: "logo-img" %>
          <%= link_to image_tag('lantern_lantern_text.png',height: 30),root_path, class: "logo-text" %>
        </div>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="menu" class="collapse navbar-collapse">
        <ul class="navbar-nav navbar-nav-extend ml-auto">
          <% if logged_in? %>
            <li class="nav-item nav-item-extend"><%= link_to "記録画面へ", user_path(current_user), class: "btn btn-info btn-md btn-extend" %></li>
            <li class="nav-item nav-item-extend"><%= link_to "プロフィール", edit_user_path(current_user), class: "btn btn-secondary btn-md btn-extend" %></li>
            <li class="nav-item nav-item-extend"><%= link_to "ログアウト", logout_path, method: :delete, class: "btn btn-danger btn-md btn-extend btn-logout-extend" %></li>
          <% else %>
            <li class="nav-item nav-item-extend"><%= link_to "新しく始める", signup_path, class: "btn btn-info btn-md btn-extend" %></li>
            <li class="nav-item nav-item-extend"><%= link_to "ログイン", login_path, class: "btn btn-info btn-md btn-extend btn-login-extend" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>